<body class="container-fluid" style="background-image: url(<%= asset_path 'fbbg.jpg' %>);no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;                                                                           
                                      ">


<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>

</body>