<%= form_with(model: post, local: true, html: { multipart: true }, url: choose_new_or_edit ) do |form| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  



<div class="container">
    <div class="row mb-3  justify-content-md-center">
      <div class="col-6">
        <div class="card  my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Post</h4>
<hr class="my-4">
        
            <form >

<div class="form-group row">
    <label for="inputPassword" class="col-sm-3 col-form-label"><%= form.label :content %></label>
    <div class="col-sm-9">
    
     <%= form.text_area :content, placeholder:"write a comment" ,class:"form-control"%>
     
    </div>
  </div>


  <div class="form-group row">
      <label  class="col-sm-3 col-form-label"><%= form.label :image,"upload image" %></label>

     
    <div class="col-sm-9">
    
     <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
    </div>
  </div>

            

              <div class="text-center ">
    <%= form.submit :class => 'btn btn-primary btn-lg text-uppercase'%>
    <%#= form.submit :class => 'btn btn-primary btn-lg text-uppercase' , data: { confirm: 'Do you realy want to post this?' } %>

</div>
              <hr class="my-4">
              <% end %>
            </form>
            
          </div>
        </div>
      </div>
       <%  if @post.image && @post.image.url %>
    <div class="col-5 mt-5">
      <ul class="list-group " id="user-list">
      
      <div class="row">
            <div class="col-md-12 col-12">         
                  <% unless post.image.blank? %>
          <%= image_tag @post.image.url , class: "img-fluid"%>
          <% end %>
                     </div>
          </div>

</div>
<% end %>
    </div>
  </div>



